<%- include("partials/header") -%>


<form action="./compose" method="POST">
    <h1>Compose</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="postTitle">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Post</label>
      <textarea name="postBody" rows="5" cols="30" class="form-control" id="exampleInputPassword1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include("partials/footer") -%> 